[submodule "quantum-search-algo"]
	path = quantum-search-algo
	url = ./quantum-search-algo
[submodule "quantum-hello-world"]
	path = quantum-hello-world
	url = "https://github.com/duspic/quantum-hello-world"
